# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Test
.pytest_cache/
tests/
test.py

# Git
.git
.gitignore

# Docs
docs/

# Local env
.env
.env.local

# Misc
*.md
submissions/
