<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006304528804-5f4ni5h8nschgv9gcoa9i07bhqtjeb91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006304528804-5f4ni5h8nschgv9gcoa9i07bhqtjeb91</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1006304528804-7j0kgvkl7mba30cv817jh129aflos0ks.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>GOOGLE_API_KEY_REDACTED</string>
	<key>GCM_SENDER_ID</key>
	<string>1006304528804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hushh.app</string>
	<key>PROJECT_ID</key>
	<string>hushh-pda</string>
	<key>STORAGE_BUCKET</key>
	<string>hushh-pda.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006304528804:ios:eb2720b5eda7da4bcfd931</string>
</dict>
</plist>